h1 {
  font-family: 'Montserrat Subrayada', sans-serif;
  text-align: center;
  width: 100%;
  font-size: 60px;
  margin: 0;
}

h5 {
  font-family: 'Lato', sans-serif;
  text-align: center;
  width: 100%;
  font-size: 20px;
  margin: 0;
}

.input-container {
  text-align: center;
  padding: 10px;
}

.edit-all-shortcut {
  display: none;
}

.edit-all .edit-all-shortcut {
  display: block;
}
